.burgerMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    ul{
        &.hidden{
            transform: translateX(-100%);
            transition: 500ms;
        }
        &.visible{
            transform: translateX(0);
            transition: 500ms;
        }
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::after{
            content: "";
            z-index: -10;
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            height: 100%;
            background: linear-gradient(135deg, #C37200 0%, #37332D 50%, #000000 100%);
        }
        .link{
            font-weight: bold;
            font-size: 2rem;
            color: white;
            text-decoration: none;
        }
    }
    svg{
        z-index: 50;
        width: 8vh;
        height: 8vh;
        position: absolute;
        top: 2vw;
        left: 2vw;
    }
}
