.button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 5vh;
    border-radius: 25px;
    background-color: #C37200;
    font-weight: bold;
    font-size: 1.1rem;
    .link{
        color: white;
        text-decoration: none;
    }
}