.button {
    cursor: pointer;
    background: #ff9800;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-family: Jura;
    font-weight: bold;
    .link{
        color: white;
        text-decoration: none;
    }
    &:hover{
        background-color: #f57c00;
    }

    @include respond-to(tablet){
        border-radius: 30px;
        padding: 8px 30px;
        font-size: 1.7rem;
    }
}