.navbar{
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    height: 10vh;
    h1{
        position: absolute;
        right: 0;
        width: 90%;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1.8rem;
    }
    
    @include respond-to(tablet)
    {
        h1{
            font-size: 3.5rem;
        }
    }
}