.navbar{
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    height: 10vh;
    border-bottom: 3px solid white;
    margin-bottom: 20px;
    h1{
        position: absolute;
        right: 0;
        width: 90%;
        text-align: center;
    }
    ul{
        display: none;
    }
    svg{
        fill: white;
        z-index: 50;
        width: 8vh;
        height: 8vh;
        position: absolute;
        top: 1vh;
        left: 2vw;
    }
    
    @include respond-to(tablet)
    {
        margin-bottom: 40px;
        h1{
            width: 100%;
        }
    }

    @include respond-to(computer)
    {
        margin-bottom: 60px;
        h1{
            display: none;
        }
        ul{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .link{
                text-decoration: none;
                color: white;
                &.active{
                    color: orange;
                }
            }
        }
        svg{
            display: none;
        }
    }
}