.navbar{
    display: flex;
    align-items: center;
    height: 10vh;
    svg{
        height: 80%;
        width: 20%;
        fill: white;
    }
    h1{
        position: absolute;
        right: 0;
        width: 90%;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 1.8rem;
    }
}