.experience-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    p{
        padding:2vh 0;
        width: 80%;
        text-align: center;
    }
    .imgs{
        display: flex;
        flex-wrap: wrap;
        gap: 2vh;
        justify-content: center;
        img{
            width: 80%;
            border-radius: 5px;
        }
    }
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }
}