.experience-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    p{
        padding:2vh 0;
        width: 80%;
        text-align: center;
    }
    .imgs{
        display: flex;
        flex-wrap: wrap;
        gap: 2vh;
        justify-content: center;
        img{
            width: 80%;
            border-radius: 5px;
        }
    }
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
        li{
            font-size: 1.1rem;
        }
        h4{
            margin-top: 20px;
        }
    }
    a{
        font-size: 1.2rem;
        color: #BA6E02;
    }
    @include respond-to(tablet)
    {
        p{
            font-size: 1.5rem;
        }
        ul{

            li{
                font-size: 1.5rem;
            }
        }
    }

    @include respond-to(computer)
    {
        gap: 6vh;
        .imgs{
            justify-content: center;
            .img-computer{
                width: 45%;
            }
            .img-phone{
                width: 30%;
            }
            img{
                border-radius: 15px;
            }
        }
        ul{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            h4{
                width: 100%;
            }
            li{
                font-size: 1.9rem;
                width: 40%;
                text-align: center;
            }
        }
        a{
            font-size: 2rem;
        }
    }
}