.formation-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    p{
        padding:2vh 0;
        width: 80%;
        text-align: center;
    }
    h4{
        margin-top: 20px;
    }
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    @include respond-to(tablet)
    {
        p{
            font-size: 1.5rem;
        }
        h4:last-of-type{
            margin-top: 50px;
        }
        ul{
            gap: 2vh;
        }
    }

    @include respond-to(computer)
    {
        ul{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 6vh;
        }
    }
}