.formation-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    p{
        padding:2vh 0;
        width: 80%;
        text-align: center;
    }

    @include respond-to(tablet)
    {
        p{
            font-size: 1.5rem;
        }
    }

    @include respond-to(computer)
    {
    }
}