.formation-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    color: white;
    h2, h3{
        font-weight: bold;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size:1.2rem;
    }
    p{
        padding:2vh 0;
        width: 80%;
    }
    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        align-items: center;
    }

    @include respond-to(tablet)
    {
        h2{
            font-size: 2.5rem;
        }
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
        ul{

            li{
                font-size: 1.5rem;
            }
        }
    }

    @include respond-to(computer)
    {

    }
}