.footer{
    height: 10vh;
    color: white;
    border-top: 3px solid white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    img{
        height: 6vh;
    }
    @include respond-to(tablet)
    {
        margin-top: 40px;
    }
    @include respond-to(computer)
    {
        margin-top: 60px;
    }
}