html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Jura;
  p{
    color: white;
    font-size: 1rem;
  }
  h1{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2rem;
  }
}